{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container forgot">

		<div class="row justify-content-center"></div>

		<!-- Start Forgot Password Form -->
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="mb-5 text-center">Mot de passe oublié</h1>
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('danger') %}
					<div class="alert alert-danger">
						{{ message }}
					</div>
				{% endfor %}
				{{ form_start(form) }}
				<div class="form-group">
					{{ form_row(form.userName) }}
				</div>
				{{ form_end(form) }}
			</div>
		</div>


	</div>
{% endblock %}
