{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="container login-div">
			<h1 class="h3 mb-4 font-weight-normal text-center my-md-5"></h1>
			<div class="col-md-6 mx-auto mb-5 login-form text-center">
				<h1 class="h3 mb-3 font-weight-normal">Se Connecter
					<i class="fas fa-sign-in-alt"></i>
				</h1>
				<label for="inputUsername">Nom</label>
				<input type="text" value="{{ last_username }}" name="userName" id="inputUsername" class="form-control" required autofocus>
				<label for="inputPassword">mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="my-3">
					<button class="btn btn-info" type=" submit">
						se Connecter
					</button>
				</div>
				<a class="custom-link" href="{{ path('register') }}" id="registerLink">s'inscrire</a>
				<a class="custom-link" href="{{ path('app_forgotten_password') }}" id="forgotPass2">mot de passe oublier?</a>
			</div>
		</div>

	</form>

{% endblock %}
