{% extends 'dashboard.html.twig' %}

{% block title %}Profile
{% endblock %}

{% block subtitle %}
	Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	<div class="container forgot">
		<div class="row justify-content-center"></div>
		{% for message in app.flashes('success') %}
			<div class="alert alert-info w-100 mt-1 text-center">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger w-100 mt-1 text-center">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(form) }}
		<div class="row pt-2">
			<div class="col-md-6 mx-auto">
				{{ form_row(form.oldPassword) }}
				{{ form_row(form.plainPassword) }}
			</div>
		</div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-info">Enregistrer</button>
		</div>
		{{ form_end(form) }}

		<a class="custom-link text-center mt-3" href="{{ path('app_forgotten_password') }}">Mot de passe oublier ?</a>
	</div>

{% endblock %}
