{% extends 'base.html.twig' %}

{% block meta %}
	<meta name="description" content="Trick list of Snowtricks, snowboarder community to learn snowboard tricks.">
{% endblock %}

{% block title %}Site communautaire SnowTricks
{% endblock %}


{% block body %}
	<div class="row" id="home">
		<div class="container-fluid homeHeader d-flex px-0 mx-0">
			<div class="homeTitle py-4 px-4">
				<h1>SnowTrick</h1>
				<h2>
					LeT's Enjoy Together</h2>

			</div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-info w-75 mt-5 text-center mx-auto">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="alert alert-danger w-75 mt-5 text-center mx-auto">
					{{ message }}
				</div>
			{% endfor %}

		</div>

		<div class="container-fluid cup">
			<a href="#trickList">
				<i class="fas fa-chevron-down fa-1x chevron-down"></i>
			</a>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row justify-content-center pb-0" id="trickList">
			{% for trick in tricks %}
				<div class="col-md-2 col-sm-4 mx-1 mb-4 trick-card-div">
					<div class="card">
						<a href="{{path('trick.show', {id: trick.id, slug: trick.slug }) }}"><img class="card-img-top home" src="/images/{{ trick.mainImage }}" alt="Trick"></a>
						<div class="card-body d-flex flex-row {% if app.user %}justify-content-between{% else %}justify-content-center{% endif %} px-2">

							<h5 class="card-title mb-0">
								<a href="">{{ trick.name }}</a>
							</h5>
							{% if (app.user) %}
								<a class="float-right change-link ml-3 mr-3 pt-2" href="{{path('update_trick', {'id': trick.id}) }}" target="_blank">
									<i class="far fa-edit"></i>
								</a>
								<button type="button" class="btn btn-white" data-toggle="modal" data-target="#deleteTrickModal" data-href="{{ path('delete_trick', {'id': trick.id}) }}">

									<i class="fas fa-trash-alt"></i>

								</button>

							{% endif %}

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="row justify-content-center mb-5">
			<div class="col-md-4 offset-md-4 text-center mt-2" id="loadMoreCol">
				<button type="button" class="btn btn-light loadMoreBtn" id="loadMoreTricksBtn">
					<i class="fas fa-spinner mr-3"></i>Load more</button>
				<button type="button" class="btn btn-light loadMoreBtn" id="loadLessTricksBtn">
					<i class="fas fa-spinner mr-3"></i>Load less</button>
			</div>
			<div class="container-fluid cup">
				<a href="#trickList">
					<i class="fas fa-chevron-up fa-1x chevron-down"></i>
				</a>
			</div>
		</div>
	</div>


{% endblock %}
