{% extends 'base.html.twig' %}

{% block meta %}
	<meta name="description" content="More informations about {{ trick.name }} trick on Snowtricks, snowboarder community to learn snowboard tricks.">
{% endblock %}

{% block title %}
	{{ trick.name }}
{% endblock %}

{% block body %}
	<div class="container-fluid py-5 trick-bg">
		<div class="container-lg px-0" id="trickPage">
			<div class="row d-flex flex-column justify-content-center align-items-center" id="trickMainImg">
				<img src="/images/{{ trick.mainImage }}" alt="{{ trick.name }}-main">


				{% if app.user %}

					<div class="card-actions trick-actions py-2 px-3 mt-2 ml-auto mr-2">
						<a class="float-right change-link ml-3 mr-3 pt-2" href="{{path('update_trick', {'id': trick.id}) }}" target="_blank">
							<i class="fas fa-pencil-alt"></i>
						</a>
						<a type="button" class="btn btn-white" data-toggle="modal" data-target="#deleteTrickModal" data-href="{{ path('delete_trick', {'id': trick.id}) }}">

							<i class="fas fa-trash-alt"></i>
						</a>
					</div>

				{% endif %}
				<div class="text-center">
					<h1>{{ trick.name }}</h1>
				</div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-info w-75 mt-3 text-center">
						{{ message }}
					</div>
				{% endfor %}
				{% for message in app.flashes('error') %}
					<div class="alert alert-danger w-75 mt-3 text-center">
						{{ message }}
					</div>
				{% endfor %}
			</div>

			<div class="row py-5 px-2 justify-content-center" id="trickMedia">
				{% if trick.images is not empty or trick.videos is not empty %}
					<button type="button" class="btn btn-info">See medias</button>
				{% endif %}


				{% for image in images %}
					<div class="media-slider mb-3 mx-2">
						<img class="img-thumbnail trick-media" src="/images/{{ image.name }}" data-toggle="modal" data-target="#modalGallery" id="{{ loop.index }}" width="175" alt="{{ trick.name }}"/>
					</div>
				{% endfor %}


				{% if trick.videos is not null %}
					{% for video in videos %}
						<div class="media-slider mb-3 mx-2">
							<iframe class="trick-media" id="{{ loop.index + trick.images|length }}" src="{{ video.url }}" width="250" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

						</div>
					{% endfor %}

				{% endif %}
			</div>

			<!-- Modal Gallery -->

			<div id="modalGallery" class="modal">

				<div class="modal-content">
					<div class="modal-header">
						<span class="close cursor" class="close" data-dismiss="modal" aria-label="Close">&times;</span>
					</div>
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							{% for image in images %}
								<div class="carousel-item" id="carousel{{ loop.index }}">
									<img src="/images/{{ image.name }}" alt="{{ trick.name }}-image-{{ image.id }}" class="d-block w-100">
								</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>

			<div class="row py-3 d-flex flex-column align-items-center pb-0 text-justify" id="trickInfos">
				<p>{{ trick.description | nl2br }}</p>
				<div class="row py-3 justify-content-center" id="trickBadges">

					By :
					{% if trick.author.firstName is not null and trick.author.lastName is not null %}
						{{ trick.author.firstName }}
						{{ trick.author.lastName }}
					{% else %}
						{{ trick.author.username }}
					{% endif %}
				</a>
				<li class="list-inline-item">
					Ajouté le
					{{ trick.createdat | date('d/m/Y') }}
					{% if trick.updatedat is not null %}(<small>Mise à jour le :
							{{ trick.updatedat | date('d/m/Y') }}</small>)
					{% endif %}
				</li>
				|
				<li class="list-inline-item">
					Catégorie :
					{{ trick.category.name }}
				</li>


			</div>
		</div><hr><div class="row py-3 justify-content-center text-center" id="trickCommentForm">
			{% if app.user %}
				{{ form_start(form) }}
				<div class='d-flex flex-column flex-md-row justify-content-center align-items-center'>
					{{ form_row(form.content) }}
					<button type="submit" class="btn btn-info ml-4">Leave a comment</button>
				</div>
				{{ form_end(form) }}

			{% else %}
				<p>
					<a href="{{ path('register') }}">Sign up
					</a>
					or
					<a href="{{ path('app_login') }}">sign in
					</a>
					to leave a comment !
				</p>
			{% endif %}
			{% for message in app.flashes('successComment') %}
				<div class="alert alert-info w-100 mt-3">
					{{ message }}
				</div>
			{% endfor %}
		</div><hr><div class="row py-3 justify-content-center" id="trickComments">
			{% if trick.comments is not empty %}
				{% for comment in trick.comments %}
					<div class="d-flex justify-content-start align-items-center mb-3 w-100 trick-comment">
						<div class="trick-comment-avatar">
							<img class="avatar mr-4" src="/images/{{ comment.author.avatar }}"/>
						</div>
						<div class="text-justify trick-comment-content mb-2">
							<p>{{ comment.content }}</p>
							<p class="pr-2 mb-0">

								{% if comment.author.firstName is not null and comment.author.lastName is not null %}
									{{ comment.author.firstName }}
									{{ comment.author.lastName }}
								{% else %}
									{{ comment.author.userName }}
								{% endif %}

								-
								{{ comment.createdAt|format_datetime(locale='us') }}


							</p>
						</div>

					</div>
				{% endfor %}

			{% else %}
				<p>No comments. Be the first to discuss about this trick !</p>
			{% endif %}
			<button type="button" class="btn btn-light loadMoreBtn" id="loadMoreCommentsBtn">
				<i class="fas fa-spinner mr-3"></i>Load more</button>
		</div>
	</div>
</div></div>{% endblock %}
