{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
	<div class="container-fluid py-5 trick-bg" id="editTrick">
		{{ form_start(form) }}
		<div class="container px-0 pb-5" id="editPage">
			<div class="row d-flex flex-column justify-content-center align-items-center" id="trickMainImg" style="background: url('{% if trick.mainImage is not null %}{{ asset('media/uploads/tricks/trick_' ~ trick.id ~ '/' ~ trick.mainImage) }}{% else %}{{ asset('media/images/home.jpg') }}{% endif %}');"></div>
			<div class="text-center">
				<h1 class="mb-5">{{ trick.name }}</h1>
				<div class="mainImg-input">
					{{ form_errors(form.mainImage) }}
					{{ form_widget(form.mainImage) }}
				</div>
				{% for message in app.flashes('success') %}
					<div class="alert alert-info w-100 mt-3 text-center">
						{{ message }}
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="row pt-5 pb-2s px-2 justify-content-center text-center" id="trickMedia">
			{% if trick.images is not null %}
				{% for image in form.images %}
					<div class="col-10 col-sm-3 media-slider mb-3 mx-2 px-0">
						<img class="img-thumbnail trick-media" src="{{ asset('media/uploads/tricks/trick_' ~ trick.id ~ '/' ~ image.vars.value.name) }}" alt="{{ trick.name }}"/>
						<div class="edit-media-input">
							{{ form_errors(image) }}
							{{ form_widget(image, {'attr': {'value': 'image.vars.value'}}) }}
						</div>
						<div class="card-actions trick-media-actions py-2 px-3 mt-2 ml-auto mr-2">
							<button class="delete-media-button ml-3" type="button">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>

				{% endfor %}
			{% endif %}
			{% if trick.videos is not null %}
				{% for video in form.videos %}
					<div class="col-10 col-sm-3 media-slider mb-3 mx-2 px-0">
						<iframe class="trick-media" src="{{ video.vars.value.name }}" width="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<div class="edit-media-input">
							{{ form_errors(video) }}
							{{ form_widget(video) }}
						</div>
						<div class="card-actions trick-media-actions py-2 px-3 mt-2 ml-auto mr-2">
							<button class="delete-media-button ml-3" type="button">
								<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<div class="row d-flex justify-content-center" id="newMedia">
			<div class="col pt-2 pb-5 d-flex flex-column" id="newTrickImages">
				<ul id="image-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.images|length }}">
					{% for imageField in form.images %}
						{% if image.vars.value.name is not defined %}{% endif %}
					{% endfor %}
				</ul>
				<button type="button" class="add-another-collection-widget btn btn-info" data-list-selector="#image-fields-list">Ajouter une image</button>
			</div>
			<div class="col pt-2 pb-5 d-flex flex-column" id="newTrickVideos">
				<ul id="video-fields-list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.videos|length }}">
					{% for videoField in form.videos %}
						{% if image.vars.value.name is not defined %}{% endif %}

					{% endfor %}
				</ul>
				<button type="button" class="add-another-collection-widget btn btn-info" data-list-selector="#video-fields-list">Ajouter Une vidéo</button>
			</div>
		</div>


		<div class="row py-3 d-flex flex-column align-items-center pb-0" id="newTrickInfos">
			<div class="form-group w-75 mr-auto">
				{{ form_errors(form.name) }}
				{{ form_widget(form.name, {'attr': {'placeholder': 'Trick Nom *'}}) }}
			</div>
			<div class="form-group w-100">
				{{ form_errors(form.description) }}
				{{ form_widget(form.description, {'attr': {'placeholder': 'Trick description *'}}) }}
			</div>
			<div class="form-group w-35 mr-auto">
				{{ form_widget(form.category) }}
			</div>
			<div class="d-flex ml-md-auto mt-2">
				<button type="submit" class="btn btn-info ml-2">Enregistrer</button>
				{{ form_end(form) }}
			</div>

		</div>

	</div>


</div></div>{% endblock %}
