{% extends 'dashbord.html.twig' %}

{% block meta %}
	<meta name="description" content="Add new trick on Snowtricks, snowboarder community to learn snowboard tricks.">
{% endblock %}

{% block title %}Add new trick
{% endblock %}


{% block body %}
	<div class="container-fluid py-5 trick-bg">
		{{ form_start(form) }}
		<div class="container px-0 pb-5" id="editPage">
			<div class="row d-flex flex-column justify-content-center align-items-center" id="trickMainImg" style="background: url('/media/images/home.jpg');">
				<div class="text-center">
					<h1 class="mb-5">New Trick</h1>

				</div>
			</div>
			<div class="row py-3 d-flex flex-column align-items-center pb-0" id="newTrickInfos">
				<div class="form-group w-75 mr-auto">
					{{ form_errors(form.name) }}
					{{ form_widget(form.name, {'attr': {'placeholder': 'Trick name *'}}) }}
				</div>
				<div class="form-group w-100">
					{{ form_errors(form.description) }}
					{{ form_widget(form.description, {'attr': {'placeholder': 'Trick description *'}}) }}
				</div>
				<div class="form-group w-75 mr-auto">
					{{ form_errors(form.mainImage) }}
					{{ form_widget(form.mainImage, {'attr': {'placeholder': 'Trick image *'}}) }}
				</div>
				<div class="row d-flex justify-content-center pt-3" id="newMedia">
					<div class="col pt-2 pb-5 d-flex flex-column" id="newTrickImages">
						<ul id="image-fields-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="">
							{% for imageField in form.images %}
								<li>
									{{ form_errors(imageField) }}
									{{ form_widget(imageField) }}
								</li>
							{% endfor %}
						</ul>
						<input type="hidden" id="image-counter">
						<button type="button" id="add-image" class="add-another-collection-widget btn btn-info" data-list-selector="#image-fields-list">Add an image</button>
					</div>
					<div class="col pt-2 pb-5 d-flex flex-column" id="newTrickVideos">
						<ul id="video-fields-list" data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ form.videos|length }}">
							{% for videoField in form.videos %}
								<li>
									{{ form_errors(videoField) }}
									{{ form_widget(videoField) }}
								</li>
							{% endfor %}
						</ul>
						<input type="hidden" id="video-counter">
						<button type="button" id="add-video" class="add-another-collection-widget btn btn-info" data-list-selector="#video-fields-list">Add a video</button>
					</div>
				</div>

				<button type="submit" class="btn btn-info ml-auto">Save</button>

			</div>

		</div>

		{{ form_end(form) }}
	</div>
</div>{% endblock %}
