{% extends 'dashbord.html.twig' %}

{% block title %}Profile
{% endblock %}


{% block body %}
	<div class="py-4 px-4 dashboard-div" id="editProfile">
		{% for message in app.flashes('success') %}
			<div class="alert alert-info w-100 mt-1 text-center">
				{{ message }}
			</div>
		{% endfor %}
		{{ form_start(form) }}
		<div class="row pt-2">
			<div class="col-md-4 text-center" id="userAvatar">
				<img src="/images/{{ user.avatar }}">
				<div class="avatar-input mt-3">
					{{ form_row(form.avatar) }}
				</div>
			</div>
			<div class="col-md-8" id="userInfos">
				<div class="row">
					<div class="col-sm-6">
						<strong>Nom d'utilisateur:
						</strong>
						{{ form_row(form.userName) }}
					</div>

					<div class="col-sm-6">
						<strong>Email:
						</strong>
						{{ form_row(form.email) }}
					</div>


				</div>
				<div class="row">
					<div class="col-sm-6">
						<strong>Nom :
						</strong>
						{{ form_row(form.firstName) }}
					</div>

					<div class="col-sm-6">
						<strong>Prénom:
						</strong>
						{{ form_row(form.lastName) }}
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<button type="submit" class="btn btn-info mt-3" id="editAvatarBtn">Editer</button>
		</div>


		{{ form_end(form) }}

	</div>

{% endblock %}
